
/*post-pagina*/
.post-header{
  width: 100%;
  height: 500px;
  background: #1a1e21;
}
.post-container{
  max-width: 800px;
  margin: auto;
  width: 100%;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;
}
.back-home{
  color: rgb(245, 183, 26) ;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.header-title{
  width: 90%;
  font-size: 2.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
.header-img{
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: center;
}
.post-content{
  margin-top: 6rem !important;
}
.sub-heading{
  font-size: 1.5rem;
  margin-bottom: 1rem ;
}
.sub-sub-heading{
  font-size: 1.2rem;
}
.post-text{
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
}


/*responsive*/
@media (max-width: 768px) {
  .header-content {
    margin-top: 6rem !important;
  }
  .header-title {
    font-size: 2.6rem;
  }

  .header-img {
    height: 370px;
  }

  .post-header {
    height: 450px;  
  }
  .post-content {
    margin-top: 12rem !important;
}
.post-container {
  width: 90%;
}
}

@media (max-width: 570px){
  .post-header {
    height: 390px;  
  }

  .header-title{
    width: 100%;;
  }

  .header-img{
    height: 340px;
  }
}







/*Sección de comentarios*/
.comentarios {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.comentarios div {
  margin-bottom: 10px;
}

.formulario {
  border: 0px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 58px;
  max-width: 100%;

  display:grid;
  justify-content: center;
  margin: 5%;
  
  
  
}

.formulario label,
.formulario textarea,
.formulario input {
  display: block;
  margin-bottom: 10px;
}

.formulario textarea {
  width: 100%;
  height: 100px;
}

.formulario button {
  background-color:  rgb(245, 183, 26);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}




.col-12{
  max-width: 800px;
  border: 0px solid #ccc;
  border-top: 1px solid #ccc;
}

.frm-comment{
	border: #000000 1px solid;
	padding: 30px;
	border-radius: 2px;

}
.input-row {
	margin-bottom: 20px;
}

.input-row textarea{
    cursor: text;
    resize: none;
    padding: 6px 10px 8px 10px;
    margin: 0;
    width: 100%;
    min-height: 44px;
    height: auto;
    line-height: 1.4;
    font-size: 14px;
    /*word-break: break-word;
    transition: all .15s ease-in-out;*/
}

.btn-primary{
  background-color:  rgb(245, 183, 26);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}

.form-control {
  background-color: #fff;
  border-radius: 25px ;
	margin-bottom: 15px;
	padding: 15px;
  
}

.comentario{
margin: 20px;
border-top: 1px solid #ccc;
padding: 15px;
}

.contenido{
  margin-top: 10px;
  margin-left: 20px;
}

.mensaje-error{
  background-color:  rgb(141, 80, 36);
  margin: 20px;
border-top: 1px solid #ccc;
padding: 15px;
text-align: center;
color: white;
}

/*a{
	text-decoration: none;
}
.output-container {
	width: 600px;
	margin: 0 auto;
}

.comment-form-container {
	border: #000000 1px solid;
	padding: 30px;
	border-radius: 3px;
  cursor: text;
}


.input-field {
	width: 100%;
	border-radius: 3px;
	padding: 10px;
	border: #424141 1px solid;
    box-sizing: border-box;

}

.btn-submit {
	padding: 10px 20px;
    background: #2083f3;
    border: #137aea 1px solid;
    color: #f0f0f0;
    border-radius: 3px;
}

.output-container ul {
	list-style-type: none;
}

.comment-row {
	border-bottom: #b6d4ff 1px solid;
	margin-bottom: 15px;
	padding: 15px;
	
}

.outer-comment {
	padding: 30px;
	
    border-radius: 3px;
}

span.commet-row-label {
	font-style: italic;
}

span.posted-by {
	
	margin-left:10px;
}

.comment-info {
	font-size: 0.9em;
	color: #000000;
}

.comment-text {
	margin: 10px 0px;
	margin-left: 40px;
	color: #000000;
}

.btn-reply {
	text-decoration: none;
    color: #0026ff !important;
    font-size: 0.9em;
    cursor: pointer;
	
	margin-left:40px;
}


.icon-smile:before {
    content: " ";
    width: 16px;
    height: 16px;
    display: flex;
    background: url(primary-smile.png);
}*/

#comment-message {
	margin-left: 20px;
	color: #189a18;
	display: none;
}