*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    width:100%;
    background-color: white;
    position: relative;
    margin-top: 70px;
}
.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 330px;
    background-color: rgb(141, 80, 36);
    display: block;
    margin: auto;
}
.servicios{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card:hover{
    background-color: rgb(218, 198, 68);
    transition: 0.4s ease;
}

.card{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgb(245, 183, 26);
    border-radius: 10px;
    cursor: pointer;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
    color: rgb(141, 80, 36);
    margin-bottom: 20px;
}
.card p{
    font-size: 12px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: rgb(141, 80, 36);
    text-align: justify;
}
.button{
    font-size: 15px;
    text-decoration: none;
    background-color: rgb(255, 243, 235);
    color: rgb(141, 80, 36);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover{
    background-color: rgb(189, 171, 58);
    transition: 0.4s ease;
}
.titulo h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}
.servicios img{
    text-align: left;
}
.titulo h1::after{
    content: "";
    height: 4px;
    width: 450px;
    background-color: #000;
    display: block;
    margin: auto;
}
@media screen and (max-width: 940px){
    .servicios{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}