
h1 {
    font-size: 3.5em;
}

h3 {
    font-size: 1.25em;
}

/* CONFIGURACIONES DE BOTONES */

/* CONFIGURACIONES DE BOTON DEL BANNER */
#BotonBanner {
    cursor: pointer;
    font-size: 1.80em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    margin-top: 100px;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin: 15px;
}

#BotonBanner:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% al pasar el cursor */
}

/* CONFIGURACIONES DE BOTON DE PERRITOS EXTRAVIADOS */
#BotonPE {
    cursor: pointer;
    margin: 5px 5px;
    font-size: 1.35em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    ;
    transition: transform 0.2s;
    /* Agrega una transición suave para el efecto de agrandamiento */


}

#BotonPE:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% al pasar el cursor */

    background-color: rgb(248, 198, 73);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}

/* CONFIGURACIONES DE CONTAINER */

.container {
    max-width: 1400px;
    margin: auto;
}

#BannerPrincipal {
    position: relative;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/gatoReportar.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ANIMALES EXTRAVIADOS */

#animalesExtraviados {
    background-color: blanchedalmond;
    text-align: center;
}

#animalesExtraviados h2 {
    margin-top: 0;
}

#animalesExtraviados .container {
    padding: 70px 0px;
}

#animalesExtraviados p {
    color: white;
    display: none;
}

/* Agrega un nuevo estilo para centrar el botón en la parte inferior */
#animalesExtraviados .carta {
    margin: 10px;
    padding: 150px;
    border-radius: 10px;

}




.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/perroCallejero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/gatitoPerdido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/gatitoCallejero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#form {
    background-color: rgb(206, 172, 85);
}

.container2 h1 {
    margin-bottom: 30px;
}

.container2 h2 {
    font-size: 24px;
    margin-bottom: 30px;
}


.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente en el centro */
    justify-content: center;
    /* Centra verticalmente en el centro */

}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit {



    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente en el centro */
    justify-content: center;
    /* Centra verticalmente en el centro */
}

.submit:hover {
    transform: scale(1.1);

}

.container2 .box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 3);
}


@media(min-width: 720px) {
    #animalesExtraviados .programas {
        display: flex;
        justify-content: center;
        padding: 1px;


    }

    #animalesExtraviados .carta {
        margin: 10px;
        border-radius: 10px;
        padding: 86px;

    }

    #animalesExtraviados p {
        display: block;
        margin-bottom: 10px;
    }

    #BotonPE {
        padding: 5px 20px;

    }

    .container2 .box {
        padding: 50px;
    }





}