body {
    min-height: 100vh;
}

h1 {
    font-size: 3.5em;
}

h3 {
    font-size: 1.25em;
}

/* CONFIGURACIONES DE BOTONES */

/* CONFIGURACIONES DE BOTON DEL BANNER */
#BotonBanner {
    cursor: pointer;
    font-size: 1.80em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    margin-top: 100px;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin: 15px;
}

#BotonBanner:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% al pasar el cursor */
}

/* CONFIGURACIONES DE BOTON DE PERRITOS EXTRAVIADOS */
#BotonPE {
    cursor: pointer;
    margin: 5px 5px;
    font-size: 1.35em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    ;
    transition: transform 0.2s;
    /* Agrega una transición suave para el efecto de agrandamiento */


}

#BotonPE:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% al pasar el cursor */

    background-color: rgb(248, 198, 73);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}




/* ------------------------------------- BANNER -------------------------------------*/
.section-banner {
    position: relative;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/reporta-img/gatoReportar.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



/* ------------------------------ ANIMALES EXTRAVIADOS -------------------------------*/
.section-animales {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}

/* ----------------------------------CARRUSEL DE CARTAS--------------------------------------------------*/

.container {
    width: 70%;
    z-index: 0 !important;

}

.mySwiper {
    overflow-x: scroll;
    overflow: hidden;
}

.swiper-wrapper {
    margin: 15px;

}


.container .swiper-container {
    width: 100%;
    height: 100%;
}

:root {
    --swiper-theme-color: #000000 !important;
}



.container .swiper-slide {
    position: relative;
    text-align: start;
    font-size: 18px;
    background: blanchedalmond;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);


}

.container .swiper-slide img {
    display: block;
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.container .swiper-slide .cardDescription {
    padding: 1rem;
}

.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: 0.5rem;
}



.swiper-button-next {
    right: 25px !important;
    transform: translateY(1550%) !important;
}

.swiper-button-prev {
    left: 25px !important;
    transform: translateY(1550%) !important;
}


.Reporte {

    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin-top: 20px;

}

.Reporte:hover {
    transform: translateX(-50%) scale(1.1);

}



/* Estilos para el popup */
#popup {

    height: auto;


    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: rgb(255, 244, 227);
    background-image: url("../img/reporta-img/fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 80%;

    max-width: 720px;
    overflow-y: auto;
    width: 70%;
    padding: 30px;
}

/* Estilos para la X de cierre */
#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: red;
    background: none;
    border: none;
}

#X {
    display: flex;
    font-size: 30px;
}

/* Estilos para el contenido dentro del popup */
.modal-body {
    text-align: center;
    margin: 20px;
}

/* Estilos para la imagen dentro del popup */
.modal-body img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Cambia el cursor al pasar por la X de cierre */
#close:hover {
    color: darkred;
}

/* Estilos  para la imagen */
.img-popup {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#imagen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-imagen {
    margin: auto;
}

.div-text {
    margin-top: 20px 0;
}

iframe {
    width: 100%;
    height: auto;
}


/* --------------------------------- FORMULARIO --------------------------------------*/
/*ESTILO BASICOS DE LA SECCION */
.section-formulario {

    background-color: rgb(206, 172, 85);
    background-image: url("../img/reporta-img/fondo.png");
    /* QUE EL FONDO NO SE REPITA CONSTANTEMENTE*/
    background-repeat: no-repeat;
    background-size: cover;
    /* QUE SE POSICIONE EN EL CENTRO*/
    background-position: center center;
}

/* RESPONSIVE PARA EL FORMULARIO */
.section-formulario__div--container2 {
    /* ESTO HACE QUE NO SE EXPANDAN MÁS LOS INPUTS*/
    max-width: 1600px;
    /* HACE QUE NO SE GENERE MARGENES */
    margin: 0 auto;
    /*COMO SI FUERAN MARGENES*/
    padding: 40px;

}

/* PONE EN EL CENTRO Y DA SOMBRAS AL TITULO DEL FORMULARIO*/
.section-formulario__div--container2 h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    /* DISTANCIA QUE EL TITULO ESTA CON EL INFO DE CONTACTO*/
    margin-bottom: 15px;
    text-align: center;

}

/* CENTRA TODOS LOS ITEMS DEL FORMULARIO*/
form {
    align-items: center;
    text-align: center;
    margin: 0;
}

/* form-flex CONTENEDOR DE TODO INFO CONTACTO Y ANIMAL*/


/* SE AGARRA LOS CONTENEDORES INFO CONTACTO Y INFO ANIMAL*/
.form-flex div {
    /* AGREGA UN ESPACIADO ENTRE INFO CONTACTO Y ANIMAL*/
    padding: 10px;
}


/* PONE SOMBRAS Y ESPACIADO AL H2(INFO DE CONTACTO Y ANIMAL)*/
.form-container h2 {

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    /* ESPACIO ENTRE TEXTOS*/
    margin-bottom: 25px;
}

/* CONTENEDOR DE LOS SUBTITULOS, LABEL E INPUTS*/
.form-container {
    /* HACE QUE LOS MARGENES NO AUMENTE*/
    margin: 0 auto;
    /* ESTO PONE INDICA EL TAMAÑO DE LOS  INPUT*/
    max-width: 80%;
}

/* TEXTO DENTRO DE CADA INFO (texto de titulo de los inputs)*/
label {
    /*SOMBRA */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 10px;

    font-size: 20px;
}

/* */
/* TEXTO DENTRO DE CADA INFO(TEXTO DEL INPUT)*/
.form-text {
    font-size: 17px;
    /* PONE EL COLOR GRIS POR DEFECTO */
    color: #7c7b7b;

}

/* SELECCION DE ESPECIE DEL ANIMAL*/
select {
    /* sombra */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /* El ancho del input*/
    width: 100%;

    /* le da como grosor */
    padding: 10px;
    /* -------bordes---------*/
    /* borde difuminado*/
    border: 1px solid #ccc;

    /* borde redondo*/
    border-radius: 5px;
    /* le da espacio entre lineas*/
    margin-bottom: 10px;
    /* la letra dentro */
    font-size: 17px;

}


/* PARECE QUE LE DA ESTILO A LOS CUADROS*/
input[type="text"],
input[type="email"],


/* ESTILO AL TEXTAREA*/
textarea {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*  BOTON DE ENVIAR */
/* */
.submit {

    position: relative;

    /* HACEN QUE SE POSICIONE EN EL CENTRO */
    left: 50%;
    transform: translateX(-50%);

    /* CURSOR Y TAMAÑO DE LA LETRA*/
    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 20px;

    /* DIMENSIONES DEL BOTON(PRIMERO - ANCHO, SEGUNDO - ALTO) */
    padding: 9px 15px;
    border-radius: 9px;
    /* LE QUITA EL BORDE*/
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    /* COLOR LETRA */
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    background-color: rgb(245, 183, 26);

    display: flex;

    /* PARA EL HOVER */
    transition: transform 0.2s;


}

/* HOVER PARA BOTON ENVIAR */
.submit:hover {
    transform: translateX(-50%) scale(1.1);

}

/* PARA RESPONSIVO DEL FORMULARIO*/
.form-container img {
    display: none;
}




/* ESTILO DEL BOTON PRA SUBIR UNA IMAGEN - FORM*/
/* ID DEL BOTON FILE */
#boton-file {
    display: none;
}


/* CLASE PARA ESTILO DEL BTN SUBIR ARCHIVO*/
.form-file {
    /*QUITARLE EL MARGEN*/
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    display: block;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 17px;
    background-color: rgb(245, 183, 26);
    cursor: pointer;

    border-radius: 3px;
    border-bottom: 3px solid rgb(245, 183, 26);

    text-align: center;
    /* PARA EL HOVER */
    transition: transform 0.2s;



}

.form-file:hover {
    transition: all .4s;
    transform: scale(1.02);
    background-color: rgb(197, 146, 17);

}

/**/
/*PARTE DE SUBIR FOTO DE ANIMAL*/

#imagen-previa {
    /* da espacio entre el nombre del archivo y la imagen*/
    padding: 25px;
    padding-top: 5px;

    width: 100%;
    display: block;
}

#previsualizacion p {
    color: azure;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#nombre-archivo {
    color: azure;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2.5);
}







@media(min-width: 680px) {
    #imagen-previa {

        margin: 0 auto;
        /* da espacio entre el nombre del archivo y la imagen*/
        padding: 25px;
        padding-top: 5px;
        width: 90%;
        display: block;
    }


    .content-pop img {
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
    }

    .container {
        width: 85%;
    }

    /*  POSICION DE LAS FLECHAS DEL CARRUSEL*/

    .swiper-button-next {
        right: 25px !important;
        transform: translateY(750px) !important;
    }

    .swiper-button-prev {
        left: 25px !important;
        transform: translateY(750px) !important;
    }

}


@media(min-width: 720px) {

    #imagen-previa {
        margin: 0 auto;
        /* da espacio entre el nombre del archivo y la imagen*/
        padding: 25px;
        padding-top: 5px;
        width: 80%;
        display: block;
    }


    #popup {
        max-width: 600px;
    }

    .div-text {
        max-width: 600px;
    }

    iframe {
        max-width: 600px;
        height: 250px;
        border: 0;
    }


    .section-animales__div--programas {
        display: flex;
        justify-content: center;
        padding: 1px;


    }

    .section-animales .carta {
        margin: 10px;
        border-radius: 10px;
        padding: 86px;

    }

    .section-animales p {
        display: block;
        margin-bottom: 10px;
    }

    #BotonPE {
        padding: 5px 20px;

    }

    .container2 .box {
        padding: 50px;
    }



}

@media(min-width: 820px) {
    #imagen-previa {
        margin: 0 auto;
        /* da espacio entre el nombre del archivo y la imagen*/
        padding: 25px;
        padding-top: 5px;
        width: 70%;
        display: block;
    }

}

@media(min-width: 920px) {



    /* */
    /* HACE QUE LA PREVISUALIZACIÓN SE VEA*/
    #imagen-previa {
        margin: 0 auto;
        /* da espacio entre el nombre del archivo y la imagen*/
        padding: 25px;
        padding-top: 5px;
        width: 80%;
        display: block;
    }



    .container {
        width: 90%;
    }

    .swiper-button-next {
        right: 25px !important;
        transform: translateY(800px) !important;
    }

    .swiper-button-prev {
        left: 25px !important;
        transform: translateY(800px) !important;
    }
}

@media(min-width: 1080px) {


    /* RESPONSIVE PARA EL FORMULARIO */
    .section-formulario__div--container2 {
        /* ESTO HACE QUE NO SE EXPANDAN MÁS LOS INPUTS*/
        max-width: 100%;
        /* HACE QUE NO SE GENERE MARGENES */
        margin: 0 auto;
        /*COMO SI FUERAN MARGENES*/
        padding: 40px;

    }

    /* HACE QUE LA INFORMACION DE CONTACTO DE DIVIDA */
    .form-container1 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nombre-div {
        width: 100%;
    }

    .celular-div {
        width: 100%;
    }

    .correo-div {
        width: 100%;
    }

    /* */
    /* HACE QUE LA INFORMACION DE ANIMAL DE DIVIDA */
    .form-container2 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bloque-div {
        width: 110%;
    }

    .container-fotos {
        height: 100%;
        width: 90%;
    }

    #previsualizacion {
        width: 100%;
    }

    /* IMAGEN DE PREVISUALIZACION*/
    #imagen-previa {
        margin: 0 auto;
        /* da espacio entre el nombre del archivo y la imagen*/
        padding-top: 5px;
        width: 80%;
        max-width: 450px;
    }





}

@media(min-width: 1240px) {

    .swiper-button-next {
        right: 25px !important;
        transform: translateY(750px) !important;
    }

    .swiper-button-prev {
        left: 25px !important;
        transform: translateY(750px) !important;
    }
}