body {
    min-height: 100vh;
}

h1 {
    font-size: 3.5em;
}

h3 {
    font-size: 1.25em;
}

/* CONFIGURACIONES DE BOTONES */

/* CONFIGURACIONES DE BOTON DEL BANNER */
#BotonBanner {
    cursor: pointer;
    font-size: 1.80em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    margin-top: 100px;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin: 15px;
}

#BotonBanner:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% al pasar el cursor */
}

/* CONFIGURACIONES DE BOTON DE PERRITOS EXTRAVIADOS */
#BotonPE {
    cursor: pointer;
    margin: 5px 5px;
    font-size: 1.35em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    ;
    transition: transform 0.2s;
    /* Agrega una transición suave para el efecto de agrandamiento */


}

#BotonPE:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% al pasar el cursor */

    background-color: rgb(248, 198, 73);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}




/* ------------------------------------- BANNER -------------------------------------*/
.section-banner {
    position: relative;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/reporta-img/gatoReportar.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



/* ------------------------------ ANIMALES EXTRAVIADOS -------------------------------*/
.section-animales {
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    padding: 10px;

}

/* ----------------------------------CARRUSEL DE CARTAS--------------------------------------------------*/

.container {
    width: 70%;
    z-index: 0 !important;
    background-color: transparent;
}

.mySwiper {
    overflow-x: scroll;
    overflow: hidden;
}

.swiper-wrapper {
    margin: 15px;
}


.container .swiper-container {
    width: 100%;
    height: 100%;
}

:root {
    --swiper-theme-color: #000000 !important;
}



.container .swiper-slide {
    position: relative;
    text-align: start;
    font-size: 18px;
    background: blanchedalmond;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);


}

.container .swiper-slide img {
    display: block;
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.container .swiper-slide .cardDescription {
    padding: 1rem;
}

.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: 0.5rem;
}



.swiper-button-next {
    right: 25px !important;
    transform: translateY(1550%) !important;
}

.swiper-button-prev {
    left: 25px !important;
    transform: translateY(1550%) !important;
}


.Reporte {

    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin-top: 20px;

}

.Reporte:hover {
    transform: translateX(-50%) scale(1.1);

}




/* Estilos para el fondo oscuro detrás del popup */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Estilos para el popup */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: rgb(255, 244, 227);
    background-image: url("../img/reporta-img/fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    max-width: 720px;
    overflow-y: auto;
    width: 70%;
    padding: 30px;
}

/* Estilos para la X de cierre */
#close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: red;
}

/* Estilos para el contenido dentro del popup */
.content-pop {
    text-align: center;
    margin: 20px;
}

/* Estilos para la imagen dentro del popup */
.content-pop img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Cambia el cursor al pasar por la X de cierre */
#close:hover {
    color: darkred;
}

/* Estilos  para la imagen */
.img-popup {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#imagen1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-imagen {
    margin: auto;
}

.div-text {
    margin-top: 20px 0;
}

iframe {
    width: 100%;
    height: auto;

}


/* --------------------------------- FORMULARIO --------------------------------------*/

/* ESTILOS BASICOS DE LA SECCION*/
.section-formulario {
    background-color: rgb(206, 172, 85);
    background-image: url("../img/reporta-img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* PONE EN EL CENTRO Y DA SOMBRAS AL TITULO DEL FORMULARIO*/
.section-formulario__div--container2 h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    text-align: center;

}

/* PONE SOMBRAS Y ESPACIADO AL H2(INFO DE CONTACTO Y ANIMAL)*/
.section-formulario__div--container2 h2 {

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    margin-bottom: 30px;
}

/* RESPONSIVE PARA EL FORMULARIO */
.section-formulario__div--container2 {
    /* HACE QUE LOS CONTENEDORES NO OCUPEN TODO EL ESPACIO */
    max-width: 1600px;

    /* HACE QUE SE MANTENGA CENTRADO*/
    margin: 0 auto;
    /*COMO SI FUERAN MARGENES*/
    padding: 40px;

    align-items: center;

}

form {
    align-items: center;
    text-align: center;
    margin: 0;
}

.form-text {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}



select {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 17px;

}

.form-flex {
    margin: 0;
    width: auto;
}

.form-flex div {
    padding: 10px;
}


.form-text h2 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

label {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit {

    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
    font-size: 1.15em;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 9px;
    border: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(83, 63, 13, 0.5);
    ;
    background-color: rgb(245, 183, 26);
    transition: transform 0.2s;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente en el centro */
    justify-content: center;
    /* Centra verticalmente en el centro */
}

.submit:hover {
    transform: translateX(-50%) scale(1.1);

}

.form-text img {
    display: none;
}

.container2 .box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 3);
}









@media(min-width: 680px) {

    .content-pop img {
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;

    }

    .container {
        width: 85%;
    }

    .swiper-button-next {
        right: 25px !important;
        transform: translateY(750px) !important;
    }

    .swiper-button-prev {
        left: 25px !important;
        transform: translateY(750px) !important;
    }

}




@media(min-width: 920px) {

    .form-text img {
        display: block;

    }

    .section-formulario__div--form1 {
        width: 70%;
    }

    .section-formulario__div--form2 {
        width: 70%;
    }

    form {
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .form-flex {
        text-align: -webkit-center;
        margin: 0;
        display: flex;

    }

    .form-text {
        font-size: 110%;
    }

    .section-formulario__div--container2 {
        width: 100%;
    }


    .container {
        width: 90%;
    }

    .swiper-button-next {
        right: 25px !important;
        transform: translateY(800px) !important;
    }

    .swiper-button-prev {
        left: 25px !important;
        transform: translateY(800px) !important;
    }
}


@media(min-width: 1240px) {

    .swiper-button-next {
        right: 25px !important;
        transform: translateY(750px) !important;
    }

    .swiper-button-prev {
        left: 25px !important;
        transform: translateY(750px) !important;
    }
}






@media(min-width: 720px) {
    #popup {
        max-width: 600px;
    }

    .div-text {
        max-width: 600px;
    }

    iframe {
        max-width: 600px;
        height: 250px;
    }


    .section-animales__div--programas {
        display: flex;
        justify-content: center;
        padding: 1px;


    }

    .section-animales .carta {
        margin: 10px;
        border-radius: 10px;
        padding: 86px;

    }

    .section-animales p {
        display: block;
        margin-bottom: 10px;
    }

    #BotonPE {
        padding: 5px 20px;

    }

    .container2 .box {
        padding: 50px;
    }





}