/* Estilos para la sección hero (imagen de fondo y texto centrado) */
  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/perritosblog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  /* Estilos para el título en la sección hero */
  #hero h1 {
    font-size: 70px;
  }

.row {
    display: flex;
    flex-wrap: wrap;
  }

.footer {
    background-color: #26262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .Links-de-Redes a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .Links-de-Redes a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/*todo noticias*/
::selection{
  color: #fff;
  background: rgb(245, 183, 26)
}
/*post_filtro*/
.Container { 
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;

}

.Elemento-filtro{
  font-size: 0.9rem;
  font-weight: 500;
  cursor:pointer
}
.filtro-activo{
  background-color: rgb(245, 183, 26);
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
}

/*publicaciones/posts*/
.post{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,auto));
  justify-content: center;
  gap: 2rem;
  margin: 5%;
  /*margin-top: 50px;
  margin-bottom: 50px;*/
}
.post-box{
  background-color: #fff ;
  /*falta cambios
  box-shadow: 0 4px 20px hsl(355dg 25% 15% / 10%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)*/;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  padding: 15px;
  border-radius: 0.5rem; 
}
.post-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category{
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(245, 183, 26);
}
.post-title{
  font-size: 1.3rem;
  font-weight: 600;
  /*para hacer el titulo en 2 lineas*/
  display:  -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-fecha{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}
.post-descripcion{
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
    /*para hacer el titulo en 3 lineas*/
    display:  -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.perfil{
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfil-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid rgb(245, 183, 26) ;
}
.perfil-nombre{
  font-size: 0.82rem;
  font-weight: 500;
  white-space: nowrap; /* Evitar el corte de texto en varias líneas */
  overflow: hidden; /* Ocultar cualquier texto que sobresalga del contenedor */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) si el texto es demasiado largo */
}

/*corazon de mrd*/
.boton-like .icono-corazon {
  height: 100px;
  width: 100px;
  background: url("../img/blog-img/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

/*animación del corazon*/
.boton-like .icono-corazon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}
/**/
.boton-like .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.boton-like .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.boton-like {
  display: flex;
  align-items: center;
}

.boton-like .contador-like {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 750;

}


/*post-pagina*/
.post-header{
  width: 100%;
  height: 500px;
  background: #1a1e21;
}
.post-container{
  max-width: 800px;
  margin: auto;
  width: 100%;
}
.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;
}
.back-home{
  color: rgb(245, 183, 26) ;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.header-title{
  width: 90%;
  font-size: 2.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}
.header-img{
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: center;
}
.post-content{
  margin-top: 6rem !important;
}
.sub-heading{
  font-size: 1.5rem;
  margin-bottom: 1rem ;
}
.sub-sub-heading{
  font-size: 1.2rem;
}
.post-text{
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
}












.comentarios {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.comentarios div {
  margin-bottom: 10px;
}

.formulario {
  border: 0px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 58px;
  max-width: 100%;

  display:grid;
  justify-content: center;
  margin: 5%;
  
  
  
}

.formulario label,
.formulario textarea,
.formulario input {
  display: block;
  margin-bottom: 10px;
}

.formulario textarea {
  width: 100%;
  height: 100px;
}

.formulario button {
  background-color:  rgb(245, 183, 26);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}





