@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
main {
    min-height: 100vh;
    background-image: url(../img/adopta-img/reg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-log {
    position: relative;
    width: 380px;
    height: 560px;
    background: rgb(141, 80, 36);
    border-radius: 8px;
    overflow: hidden;
}
.box-log::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
}
.box-log::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
}
.box-log .borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}
.box-log .borderLine::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
}
.box-log .borderLine::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
}
.box-log form {
    position: absolute;
    inset: 4px;
    background: rgb(255, 243, 235);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box-log form h2 {
    color: rgb(141, 80, 36);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box-log form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box-log form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: rgb(141, 80, 36);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box-log form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgb(141, 80, 36);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box-log form .inputBox input:valid ~ span ,
.box-log form .inputBox input:focus ~ span {
    color: rgb(141, 80, 36);
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box-log form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(245, 183, 26);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box-log form .inputBox input:valid ~ i ,
.box-log form .inputBox input:focus ~ i {
    height: 44px;
}
.box-log form .links {
    display: flex;
    justify-content: space-between;
}
.box-log form .links a {
    margin: 15px 0;
    font-size: 0.75em;
    color: rgb(141, 80, 36);
    text-decoration: none;
}
.box-log form .links a:hover,
.box-log form .links a:nth-child(2) {
    color: rgb(141, 80, 36);
}
.box-log form input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: rgb(141, 80, 36);
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: 600;
    width: 150px;
    margin-top: 10px;
}
.box-log form input[type="submit"]:active {
    opacity: 0.8;
}
.view{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bx {
    cursor: pointer;
    position: absolute;
    left: 100%;
    padding: 20px 0px 10px;
    color: rgb(141, 80, 36);
    font-size: 1em;
    letter-spacing: 0.05em;
}
.msgbddnoreg {
    color: red;
    text-align: center;
}
.msgbddbien {
    text-align: center;
    color: green;
}
