#refugio {
    position: relative;
    margin-top: 90px;
    background-color: #f2f2f2;
  }

#refugio .container_refugio{
    max-width: 1440px;
    padding: 50px 5%;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

#refugio .refugio_img{
    width: 50%;
    border-radius: 10px;
}

#refugio .refugio_img img{
    width: 100%;
    border-radius: 10px;
}

#refugio .refugio_texto{
    width: 50%;
    padding-left: 60px;
} 

#refugio .refugio_texto h2{
    font-size: 1.7em;
}

#refugio .refugio_texto p{
    margin: 20px 0;
}

@media (max-width: 950px){
    #refugio .container_refugio{
        flex-direction: column-reverse;
    }

    #refugio .refugio_texto,
    #refugio .refugio_img{
        width: 100%;
        text-align: center;
    } 
}

.historia {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.historia.visible {
    opacity: 1;
    background-color:  rgb(245, 183, 26);
    transform: translateY(0);
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0px 5%;
    padding: 3%;
}

.container_timeline{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.textbox{
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left_container{
    left: 0;
}

.right_container{
    left: 50%;
}

.container_timeline img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right_container img{
    left: -20px;
}

.timeline.animate::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 0;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
} 

 .container_timeline.animate{
    animation: movedown 1s linear forwards;
    opacity: 0;
    z-index: 5;
} 

 @keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container_timeline:nth-child(1){
    animation-delay: 0s;
}
.container_timeline:nth-child(2){
    animation-delay: 1s;
}
.container_timeline:nth-child(3){
    animation-delay: 2s;
}
.container_timeline:nth-child(4){
    animation-delay: 3s;
}


.textbox h2{
    font-weight: 600;
}

.left_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 700px){
    .timeline{
        margin: 50px auto;
    }
     .timeline.animate::after{
        left: 31px;
    }
    .container_timeline{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .textbox small{
        margin-bottom: 10px;
    }
    .right_container{
        left: 0;
    }
    .left_container img,
    .right_container img{
       left: 0px; 
    }

    .left_container_arrow,
    .right_container_arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
        
    }
 
}

#nuestroequipo{
    background-color: #f2f2f2;
}

.container-equipo{
    margin: 20px 40px;
}

.titulo-equipo{
    font-size: 60px;
}

.titulo-equipo span{
    font-style: italic;
    font-size: 30px;
}

.perfiles-1{
    display: flex;
    justify-content: space-around;
    margin: 20px 100px;
}

.perfiles-2{
    display: flex;
    justify-content: space-around;
    margin: 20px 300px;
}

.perfil{
    flex-basis: 260px;
}

.perfil .perfil-img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.perfil:hover .perfil-img{
    filter: grayscale(0);
}

.nombre-usuario{
    margin-top: 30px;
    font-size: 30px;
}

.perfil h5{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
}

.perfil p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify; 
}

@media only screen and (max-width:1150px){
    .perfiles-1,
    .perfiles-2{
        flex-direction: column;
    }

    .perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfil p{
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width:900px){
    .titulo-equipo{
        font-size: 40px;
        text-align: center;
    }

    .titulo-equipo span{
        font-size: 15px;
    }

    .perfiles-1,
    .perfiles-2{
        margin: 20px 0;
    }
    .perfil p{
        margin: 20px 10px;
    }

    
}





