/* -------------------------------------------------------------------------------- */
/* Estilos para el banner */
.section-banner {
  position: relative;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(../img/dona-img/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* ------------------------------------------------------------------------------- */
/* Estilos para los filtros */
section.but {
  width: 100%;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* contenedor de bloques de 2 botones */
.container-filtro {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contenedor de los botones de arriba */

.boton-arriba {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 0 auto;
}

/* contenedor de los botones de abajo */
.boton-abajo {
  display: flex;
}

/* Est ilos para los botones de los filtros */
section .btn {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 9px 25px;
  background: rgb(245, 183, 26);
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
}


section .btn:hover {
  background: rgb(252, 207, 110);
}


/* ------------------------------------------------------------------------------- */

/* Estilos para el apoyo economico */
section .container-section {
  width: 100%;
  display: flex;
  max-width: 1100px;
  justify-content: center;

  /* PARA QUE NO SE GENERE MARGENES  */
  margin: 0 auto;
}

/* Estilos para h2 del container */
.container h2 {
  text-align: center;
  padding: 15px;
}

/* Letra del banner */
.section-banner h1 {

  font-size: 300%;

}



section .card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

section .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}


section .card img {
  width: 100%;
  height: 210px;
}

/* Hacer un poco mas pequeño la imagen plin y transfere */
.img-pequeño {
  padding: 20px;
}




section .card .contenido {
  padding: 15px;
  text-align: center;
}

section .card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}

section .card .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

section .card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

section .card .contenido a:hover {
  background: #2fb4cc;
  color: #fff;
}





section .btn:hover {
  background: rgb(252, 207, 110);
}

main {
  background-image: url(../img/adopta-img/gozu.jpg);
}

section {
  background: transparent;
}





@media (max-width: 900px) {

  /* CONTENEDOR DE LOS BLOQUES DE 2 FILTROS */

  section.but {
    width: 100%;
    height: 100%;
    /* PARA QUE EL "P: FILTROS" SE PONGA ARRIBA */
    display: block;
  }

  /* p: "FILTROS:" */
  .but p {
    margin: 10px;
  }




  section .btn {
    height: 50px;
    width: 100%;
    margin: 10px;

    max-width: 220px;

    text-align: center;
  }


  /* Botones de bloques de 2 */
  /* bloques de 2 filtros */
  .container-filtro {
    display: flex;
  }

  /* Esto hace que se pongan al centro y se pongan al costado */
  .boton-arriba {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .boton-abajo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  /*  */

  /* --------------------------------------------------------------------------- */

  /* Hace resposive las cards  */
  section .container-section {
    display: block;
  }

  /* Reduce el tamaño de las cards */
  section .card {
    width: auto;
    align-items: center;
    text-align: center;
    justify-content: center;

  }

  .card-centro {
    display: flex;
    text-align: center;

    margin: 0px auto;
  }

  #card-yape {
    width: 380px;
  }

  #card-plin {
    width: 380px;
  }

  #card-transfe {
    width: 190px;
  }

  .conte {
    display: flex;
    align-items: center;
    justify-content: center;

  }


}


@media (max-width: 540px) {

  .card-centro {
    display: block;
    justify-items: center;
    margin: 0px auto;
  }

  .container-filtro {
    display: block;
  }

  #card-plin {
    width: 100%;
  }

  #card-yape {
    width: 100%;
  }





}

/*------------------------------------------------------------------------*/
/*Estilo del modal YAPE-*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
}

.modal_container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal_img {
  width: 90%;
  max-width: 300px;
}

.modal_close {
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal_close:hover {
  color: #F26250;
  background-color: #fff;
}

/*Estilo del modal PLIN-*/
.modalplin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;

}

.modal_containerP {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modalplin_img {
  width: 90%;
  max-width: 300px;
}

.modal_closeP {
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal_closeP:hover {
  color: #F26250;
  background-color: #fff;
}

.modalplin--show {
  opacity: 1;
  pointer-events: unset;
}

/*Estilo del modal Formulario de Alimentos-*/
.modalAlimentos {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;

}

.modal_containerAlimentos {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal_closeAlimentos {
  text-decoration: none;
  color: #fff;
  background-color: #7d8994;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal_closeAlimentos:hover {
  color: #0888ff;
  background-color: #fff;
}

.modalAlimentos--show {
  opacity: 1;
  pointer-events: unset;
}

/* Formulario Alimentos */
.formulario-alimentos {
  background: #fff;
  width: 100%;
  max-width: 500px;
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
  position: relative;
}

.formulario-alimentos a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.formulario-alimentos label {
   display: block;
   color: #7d8994;
   margin-bottom: 5px;
   font-size: 16px;
}

.formulario-alimentos input,
.formulario-alimentos select,
.btn-enviar {
  border: 2px solid #CED6E0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  transition: .3s ease all;
  border-radius: 5px;
}

.formulario-alimentos input:hover,
.formulario-alimentos select:hover {
  border: 2px solid #93BDED;
}

.formulario-alimentos input:focus,
.formulario-alimentos select:focus {
  outline: rgb(4, 4, 4);
  box-shadow: 1px 7px 18px -5px rgba(90, 116, 148, 0.3);
}

.formulario-alimentos input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formulario-alimentos .flexbox {
  display: flex;
  justify-content: space-between;
}

.formulario-alimentos .alimento {
  width: 100%;
}

.formulario-alimentos .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.formulario-alimentos select {
  -webkit-appearance: none;
}

.formulario-alimentos .grupo-select i {
  position: absolute;
  color: #CED6E8;
  top: 18px;
  right: 15px;
  transition: .3s ease all;
}

.formulario-alimentos .grupo-select:hover {
  color: #93bfed;
}

.formulario-alimentos .btn-enviar {
  border: none;
  padding: 18px;
  font-size: 22px;
  color: #fff;
  background: #ffae33;
  box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  cursor: pointer;
}

.formulario-alimentos .btn-enviar:hover {
  background: #1850b1;
}
/*Estilo del modal Formulario de Articulos-*/
.modalArticulos {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;

}

.modal_containerArticulos {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modal_closeArticulos {
  text-decoration: none;
  color: #fff;
  background-color: #7d8994;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal_closeArticulos:hover {
  color: #0888ff;
  background-color: #fff;
}

.modalArticulos--show {
  opacity: 1;
  pointer-events: unset;
}
/* Formulario Articulos */
.formulario-articulos {
  background: #fff;
  width: 100%;
  max-width: 500px;
  padding: 0px 0px 0px 0px;
  border-radius: 10px;
  position: relative;
}

.formulario-articulos a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.formulario-articulos label {
   display: block;
   color: #7d8994;
   margin-bottom: 5px;
   font-size: 16px;
}

.formulario-articulos input,
.formulario-articulos select,
.btn-enviar {
  border: 2px solid #CED6E0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  transition: .3s ease all;
  border-radius: 5px;
}

.formulario-articulos input:hover,
.formulario-articulos select:hover {
  border: 2px solid #93BDED;
}

.formulario-articulos input:focus,
.formulario-articulos select:focus {
  outline: rgb(4, 4, 4);
  box-shadow: 1px 7px 18px -5px rgba(90, 116, 148, 0.3);
}

.formulario-articulos input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formulario-articulos .articulos {
  width: 100%;
}

.formulario-articulos .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.formulario-articulos select {
  -webkit-appearance: none;
}

.formulario-articulos .grupo-select i {
  position: absolute;
  color: #CED6E8;
  top: 18px;
  right: 15px;
  transition: .3s ease all;
}

.formulario-articulos .grupo-select:hover {
  color: #93bfed;
}

.formulario-articulos .btn-enviar {
  border: none;
  padding: 18px;
  font-size: 22px;
  color: #fff;
  background: #ffae33;
  box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  cursor: pointer;
}

.formulario-articulos .btn-enviar:hover {
  background: #1850b1;
}
