/* Estilos para la sección hero (imagen de fondo y texto centrado) */
#hero {
  position: relative;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/gato-y-perro-de-la-calle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Estilos para el título en la sección hero */
#hero h1 {
  font-size: 50px;
}

#hero h2 {
  font-size: 46px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

/* Estilos para la sección "razones" */
#razones .container {
  text-align: center;
  padding: 150px 12px;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

/* Estilos para el título en la sección "razones" */
#razones h2 {
  font-size: 40px;
}

/* Estilos para la lista de razones en la sección "razones" */
#razones ul {
  list-style-type: none;
}

/* Estilos para los elementos de la lista en la sección "razones" */
#razones li {
  margin: 16px 0px;
}

/* Estilos para la imagen de fondo en la sección "razones" */
#razones .img-container {
  background-image: url(../img/razonesjpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 500px;
}

/* Estilos para los botones */
button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(245, 183, 26);
  transition: transform 0.2s;
  cursor: pointer;
  /* Agrega una transición suave para el efecto de agrandamiento */


}

#botonInicio:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño en un 10% al pasar el cursor */
}

.row {
  display: flex;
  flex-wrap: wrap;
}
#testimonios{
  width: 100%;
  max-width: 1500px;
  text-align: center;
}

#testimonios h2{
  margin-top: 80px;
    font-size: 40px;
}

.parrafo1{
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.container-testimonios{
  width: 100%;
  display: flex; 
  justify-content: center;
  margin-top: 50px;
}

.comentario{
  width: 340px;
  margin: 20px;
  background-color: antiquewhite;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px black;
}

.foto-perfil1,
.foto-perfil2,
.foto-perfil3{
  margin: auto;
  width: 150px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  top: -60px;
}

.foto-perfil1{
  background-image: url(../img/alejo.jpg);
}

.foto-perfil2{
  background-image: url(../img/perro-dueno.jpg);
}

.foto-perfil3{
  background-image: url(../img/Dom.jpg);
}

.comentario h3{
  margin-top: -40px;
}

.comentario p{
  margin-top: 10px;
}