/* Establece el modelo de caja en border-box para que el padding y el borde 
no afecten al tamaño total de los elementos */
* {
  box-sizing: border-box;
}

/* Estilos generales para el cuerpo del documento */
body {
  font-family: 'Roboto', sans-serif;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: black;
}

/* Estilos para el encabezado */
header {
  display: flex;
  min-height: 70px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Estilos para el título "Happy Pets" en el encabezado */
header h2 {
  color: rgb(194, 143, 14);
}

/* Estilos para el logotipo en el encabezado */
.logo {
  display: flex;
  margin-left: 75px;
}

/* Estilos para la imagen del logotipo en el encabezado */
.logo img {
  height: 70px;
  margin-right: 10px;
}

/* Estilos para los enlaces de navegación en el encabezado */
nav a {
  font-weight: 600;
  padding-right: 10px;
}

/* Estilos al pasar el cursor por encima de los enlaces de navegación */
nav a:hover {
  color: rgb(236, 214, 70);
}

/* Estilos para pantallas con un ancho máximo de 700px */
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}

/* Estilos para la sección hero (imagen de fondo y texto centrado) */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gato-y-perro-de-la-calle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Estilos para el título en la sección hero */
#hero h1 {
  font-size: 70px;
}

/* Estilos para la sección "razones" */
#razones .container {
  text-align: center;
  padding: 150px 12px;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

/* Estilos para el título en la sección "razones" */
#razones h2 {
  font-size: 40px;
}

/* Estilos para la lista de razones en la sección "razones" */
#razones ul {
  list-style-type: none;
}

/* Estilos para los elementos de la lista en la sección "razones" */
#razones li {
  margin: 16px 0px;
}

/* Estilos para la imagen de fondo en la sección "razones" */
#razones .img-container {
  background-image: url(../img/razonesjpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px
}