/* Estilos para la sección hero (imagen de fondo y texto centrado) */
  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/perritosblog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  /* Estilos para el título en la sección hero */
  #hero h1 {
    font-size: 70px;
  }

.row {
    display: flex;
    flex-wrap: wrap;
  }

/*todo noticias*/
::selection{
  color: #fff;
  background: rgb(245, 183, 26)
}
/*post_filtro*/
.Container { 
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;

}

.Elemento-filtro{
  font-size: 0.9rem;
  font-weight: 500;
  cursor:pointer
}
.filtro-activo{
  background-color: rgb(245, 183, 26);
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
}

/*publicaciones/posts*/
.post{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,auto));
  justify-content: center;
  gap: 2rem;
  margin: 5%;
  /*margin-top: 50px;
  margin-bottom: 50px;*/
}
.post-box{
  background-color: #fff ;
  /*falta cambios
  box-shadow: 0 4px 20px hsl(355dg 25% 15% / 10%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)*/;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  padding: 15px;
  border-radius: 0.5rem; 
}
.post-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}


section .card {
  background-color: #fff ;
  /*falta cambios
  box-shadow: 0 4px 20px hsl(355dg 25% 15% / 10%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)*/;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  padding: 15px;
  border-radius: 0.5rem; 
}

section .card img{
  width: 100%;
  height: 210px;
  border-radius: 0.5rem;
}

section .card .contenido p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section .card .contenido a {
  font-weight: bold;
  font-size: 1.3rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@media (max-width: 945px) {


  section .card {
    margin: 10px auto; /* Asegurarse de que cada tarjeta ocupe el ancho completo del contenedor */
  }

}


.category{
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(245, 183, 26);
}
.post-title{
  font-size: 1.3rem;
  font-weight: 600;
  /*para hacer el titulo en 2 lineas*/
  display:  -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-fecha{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}
.post-descripcion{
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
    /*para hacer el titulo en 3 lineas*/
    display:  -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.perfil{
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfil-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid rgb(245, 183, 26) ;
}
.perfil-nombre{
  font-size: 0.82rem;
  font-weight: 500;
  white-space: nowrap; /* Evitar el corte de texto en varias líneas */
  overflow: hidden; /* Ocultar cualquier texto que sobresalga del contenedor */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) si el texto es demasiado largo */
}

/*corazon de mrd*/
.boton-like .icono-corazon {
  height: 100px;
  width: 100px;
  background: url("../img/blog-img/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

/*animación del corazon*/
.boton-like .icono-corazon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}
/**/
.boton-like .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  
}

.boton-like .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.boton-like {
  display: flex;
  align-items: center;
}

.boton-like .contador-like {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 750;
  margin-left: 6px;
   ;
}

/*Para q no haya ningun error entre el nombre del perfil y el corazón*/
.container-perfil{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1060px){
  .Container{
    margin: 0 auto;
    width: 95%;
  }
}

@media (max-width: 800px){
  .post{
    margin: 0 auto;
    width: 95%;
  }
}