@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
    height: 100vh;
    width: 100%;
    background: url(gatito.jpg);
    background-position: center;
    background-size: cover;
  }
  .container {
    max-width:1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  } 
  
main {
    background-color: rgb(245, 183, 26);
}

  /* Estilos para el encabezado */
  header { 
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 75px;
    margin-right: 75px;
    font-family: 'Quicksand', sans-serif;
  }
  
  /* Estilos para el título "Happy Pets" en el encabezado */
  header h2 {
    color: rgb(141, 80, 36);
  }
  
  /* Estilos para el logotipo en el encabezado */
  .logo {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para la imagen del logotipo en el encabezado */
  .logo img {
    height: 70px;
    margin-right: 10px;
  }
  ul {
    list-style: none;
  }
  /* Estilos para la barra de navegación */
  /* Estilos para la lista no ordenada en la barra de navegación */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }
  
  /* Estilos para los enlaces de navegación */
  nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 20px;
  }
  
  /* Estilos al pasar el cursor por encima de los enlaces de navegación */
  nav a:hover {
    color: rgb(236, 214, 70);
  }
  
  .menu i{
    margin-right: 5px;
  }
  
  .menu > li{
    position: relative;
    display: inline-block; 
  }
  
  /*Submenu*/
  .submenu{
    position: absolute;
    background-color: rgb(245, 183, 26);
    width: 90%;
    display: none;
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: white;
  }
  
  .submenu li a:hover{
    color: black;
  }
  
  .menu li:hover .submenu{
    display: block;
  }
  
  section .container {
    width: 100%;
    display: flex;
    max-width: 1100px;
  }
  section .card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
  }
  section .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  section .card img{
    width: 100%;
    height: 210px;
  }
  section .card .contenido {
    padding: 15px;
    text-align: center;
  }
  section .card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
  }
  section .card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
  }
  section .card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
  }
  section .card .contenido a:hover {
    background: #2fb4cc;
    color: #fff;
  }
  
  /* Estilos para pantallas con un ancho máximo de 700px */
  @media (max-width: 700px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    /* Ajusta el espacio entre elementos en la barra de navegación */
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer {
    background-color: #26262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .Links-de-Redes a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .Links-de-Redes a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/*Estilos para el Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color:rgb(255, 215, 153);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #ebd260;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(220, 204, 29);
}
.pie-pagina .grupo-2{
  background-color: rgb(245, 183, 26);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

/*Estilos para el Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color:rgb(255, 215, 153);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #ebd260;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(220, 204, 29);
}
.pie-pagina .grupo-2{
  background-color: rgb(245, 183, 26);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

.footer {
  background-color: #26262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .Links-de-Redes a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .Links-de-Redes a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/*responsive*/
@media (max-width: 767px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
      width: 100%;
  }
}