@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

/* Estilos generales para el cuerpo del documento */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: black;
} 

/* Estilos para el encabezado */
header { 
  display: flex;
  min-height: 70px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 75px;
  margin-right: 75px;
  font-family: 'Quicksand', sans-serif;
}

/* Estilos para el título "Happy Pets" en el encabezado */
header h2 {
  color: rgb(141, 80, 36);
}

/* Estilos para el logotipo en el encabezado */
.logo {
  display: flex;
  align-items: center;
}

/* Estilos para la imagen del logotipo en el encabezado */
.logo img {
  height: 70px;
  margin-right: 10px;
}
ul {
  list-style: none;
}
/* Estilos para la barra de navegación */
/* Estilos para la lista no ordenada en la barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

/* Estilos para los enlaces de navegación */
nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-right: 20px;
}

/* Estilos al pasar el cursor por encima de los enlaces de navegación */
nav a:hover {
  color: rgb(236, 214, 70);
}

.menu i{
  margin-right: 5px;
}

.menu > li{
  position: relative;
  display: inline-block; 
}

/*Submenu*/
.submenu{
  position: absolute;
  background-color: rgb(245, 183, 26);
  width: 90%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a{
  display: block;
  padding: 15px;
  color: white;
}

.submenu li a:hover{
  color: black;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}


/* Estilos para pantallas con un ancho máximo de 700px */
@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  /* Ajusta el espacio entre elementos en la barra de navegación */
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/* Estilos para la sección hero (imagen de fondo y texto centrado) */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/gato-y-perro-de-la-calle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Estilos para el título en la sección hero */
#hero h1 {
  font-size: 50px;
}

#hero h2 {
  font-size: 46px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

/* Estilos para la sección "razones" */
#razones .container {
  text-align: center;
  padding: 150px 12px;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

/* Estilos para el título en la sección "razones" */
#razones h2 {
  font-size: 40px;
}

/* Estilos para la lista de razones en la sección "razones" */
#razones ul {
  list-style-type: none;
}

/* Estilos para los elementos de la lista en la sección "razones" */
#razones li {
  margin: 16px 0px;
}

/* Estilos para la imagen de fondo en la sección "razones" */
#razones .img-container {
  background-image: url(../img/razonesjpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 500px;
}

/* Estilos para los botones */
button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(245, 183, 26);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
#testimonios{
  width: 100%;
  max-width: 1500px;
  text-align: center;
}

#testimonios h2{
  margin-top: 80px;
    font-size: 40px;
}

.parrafo1{
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

.container-testimonios{
  width: 100%;
  display: flex; 
  justify-content: center;
  margin-top: 50px;
}

.comentario{
  width: 340px;
  margin: 20px;
  background-color: antiquewhite;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px black;
}

.foto-perfil{
  margin: auto;
  width: 150px;
  height: 120px;
  background-image: url(../img/persona.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  top: -60px;
}

.comentario h3{
  margin-top: -40px;
}

.comentario p{
  margin-top: 10px;
}

/*Estilos para el Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color:rgb(255, 215, 153);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #ebd260;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(220, 204, 29);
}
.pie-pagina .grupo-2{
  background-color: rgb(245, 183, 26);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

/*Estilos para el Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color:rgb(255, 215, 153);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #ebd260;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(220, 204, 29);
}
.pie-pagina .grupo-2{
  background-color: rgb(245, 183, 26);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

.footer {
  background-color: #26262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .Links-de-Redes a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .Links-de-Redes a:hover {
  color: #24262b;
  background-color: #ffffff;
}


/*responsive*/
@media (max-width: 767px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
      width: 100%;
  }
}


